<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center-wrapper">
    <div class="text-center">
        <h1>Welcome to the new <span class="span-rit">RIT</span> Website!</h1>
    </div>
</div>
