<head>
    <link rel="stylesheet" href="~/css/undergraduate.css" asp-append-version="true" />
</head>
@model BrnasM3.Models.UndergraduateModelView;

<h1 class="undergrad-title">Undergraduate</h1>

@foreach (var undergradInfo in Model.Undergraduate)
{
    <div class="card">
        <h1>@undergradInfo.degreeName</h1>
        <p>@undergradInfo.title</p>
        <h4>@undergradInfo.description</h4>

        <ul>
            @foreach (var concentration in undergradInfo.concentrations)
            {
                <li>@concentration</li>
            }
        </ul>
    </div>
}
