.grad-title{
    text-align:center;
}

.card {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    color: black;
    background-color: white;
    padding: 20px;
    margin: 100px;
}

    .card h2 {
        color: #F76902;
        text-align: center;
    }

